*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;

}
button{
    border: none;
    background-color: transparent;
    border: 3px solid purple;
    padding: 10px 10px 10px 10px;
    border-radius: 999px;
    color:rgb(226, 204, 115);
    transition: 200ms;
    font-size: 20px;
}
button:hover{
    cursor: pointer;
    border: 3px solid azure;
    background-color: rgb(137, 45, 176);
    box-shadow:rgba(240, 46, 170, 0.4) 0px 5px, 
    rgba(240, 46, 170, 0.3) 0px 10px,
     rgba(240, 46, 170, 0.2) 0px 15px,
      rgba(240, 46, 170, 0.1) 0px 20px,
       rgba(240, 46, 170, 0.05) 0px 25px;
}