
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav{
    position: fixed;
    top: 0;
    background-color: #ddd;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    color: inherit;
    opacity: 0.6;
}

nav a:hover{
    opacity: 1;
}

#s1 {
    min-height: 100vh;
    background-color: #005380;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.wrap-img{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;
    border: 6px solid whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12)0px 4px 6px,
     rgba(0, 0, 0, 0.09)0px -3px 5px;
}

.img-s1{
    transition: all 200ms ease-in-out;
    width: auto;
    height: 300px;

}
.wrap-img .img-s1:hover{
    transform: scale(1.1);
}
.wrap-words{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.wrap-words h2{
    color: #c0caff;
    font-size: 36px;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12)0px 4px 6px,
    rgba(0, 0, 0, 0.09)0px -3px 5px;
    font-weight: bold;
}
.wrap-words p{
    color: #ffffff;
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
    font-weight: lighter;

}

#s2 {
    min-height:  100vh;
    background-color: #686dff;
    padding-top: 80px;

}


#s3 {
    min-height:  100vh;
    background-color: #40e5e0;
    padding-top: 80px;

}

#s4 {
    min-height:  100vh;
    background-color: #283ea8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3vh;
}

#s4 h2{
    font-size: 36px;
    color: #ffffff;
}

.formulario{

    background-color: transparent;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgb(0, 0, 0) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12)0px 4px 6px,
    rgba(0, 0, 0, 0.09)0px -3px 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 10px;
    border: 2px solid rgb(199, 179, 255) ;

}
.formulario label{
    margin-bottom: -10px;

}
.formulario input{
    background-color: transparent;
    border: none;
    border: #ffffff 2px solid;
    padding: 10px;
    border-radius: 8px;
    color: #ddd;
}
.formulario button{
    padding: 10px;
    border-radius: 8px;
    opacity: 0.6;
                                                                                                                        
}
.formulario button :hover{
    cursor: pointer;
    opacity: 1;
    box-shadow: rgba(60, 58, 58, 0.918) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12)0px 4px 6px,
    rgba(255, 255, 255, 0.09)0px -3px 5px;
}

fronter{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    background-color: #ddd;
}

fronter a{
    transition: all 500ms ease-in-out;
}
fronter a:hover{
    transform: scale(1.7) rotate(360deg);
}