*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.background{
    background-image: url('./images/hq720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 100vh;

}